<li id='order-<%= order.id.to_s %>'>
    <%= "Order #{order.id}: " %>
    <span class="order-total-price">
      Total: $<%= order.total_price %>
    </span>
    <span class='order-status'>Status: <%= order.status.capitalize %></span>
    <span class='order-date-time'>
      <%= order.created_at.to_time.strftime("%l:%M %P - %b %e") %>
    </span>
    <span class'order-user-name'><%= order.user_name %></span> |
    <span class'order-user-email'><%= order.user_email %></span>

    <%= link_to("Edit", edit_order_path(order),
                class: 'edit-order-link', id: "order-#{order.id}-link") %>

    <% unless order.canceled? %>
      <%= button_to "Cancel", cancel_order_path(order), method: :patch, id: "cancel-button" %>
    <% end %>

    <% unless order.paid? %>
      <%= button_to "Mark Paid", paid_order_path(order), method: :patch, id: "mark-paid-button"%>
    <% end %>

    <% unless order.completed? || order.canceled? %>
      <%= button_to "Mark Complete", complete_order_path(order), method: :patch, id: "mark-complete-button" %>
    <% end %>
</li>
