<div class="order-details">
    <div class="user-info">
      <span class="user-name">User: <%= @order.user_name %></span>
      <span class='user-email'>Email: <%= @order.user_email %></span>
    </div>
  <span class='order-status'>Status: <%= @order.status.capitalize %></span>
  <span class='order-date-time'>
    <%= @order.created_at.to_time.strftime("%l:%M %P - %B %e, %Y") %>
  </span>
</div>
<div id="order-form">
  <%= simple_form_for @order do |f| %>

      <% @order.line_items.each do |line_item| %>
        <%= f.fields_for :line_items, line_item do |li_fields| %>
          <%= li_fields.input :quantity,
            label: link_to(line_item.product_title, product_path(line_item.product)),
            as: :integer, input_html: { min: 0, value: line_item.quantity,
                                        class: "quantity-input"} %>
          <%= li_fields.hint "Subtotal:  #{line_item.total_price}" %>
        <% end %>
      <% end %>

    <%= f.input :paid,  as: :radio_buttons %>
    <%= f.input :complete,  as: :radio_buttons %>
    <%= f.input :canceled,  as: :radio_buttons %>
    <%= f.submit %>
  <% end %>

  <p class="total-order-price">
    Total: $<%= @order.total_price %>
  </p>
</div>
