<h1 id="admin-dashboard-title">Admin Dashboard</h1>

<h3>Recent Orders</h3>
<h5>Filter by Status:
<%= link_to "Ordered", dashboard_path(order_status: :ordered)  %>
<%= link_to "Paid", dashboard_path(order_status: :paid) %>
<%= link_to "Canceled", dashboard_path(order_status: :canceled) %>
<%= link_to "Completed", dashboard_path(order_status: :complete) %>
</h5>
<div class="dashboard-orders">
  <ul>
    <%= render partial: 'orders/edit_order_link',
      collection: @dashboard.orders, as: :order %>
    <%= will_paginate @dashboard.orders, param_name: :orders_page %>
  </ul>
</div>


<div class="categories">
  <h3>Menu Categories</h3>
  <ul>
    <%= render @dashboard.categories %>
  </ul>
</div>

<div class="products">
  <h3>Menu Items</h3>

  <ul>
    <%= render partial: 'product_links',
      collection: @dashboard.products, as: :product %>
  </ul>
  <%= link_to "View Retired Items", retired_products_path, 
    id: "retired-products-link"%>
</div>

<%= link_to "Create New Menu Item", new_product_path, id: 'new-product-link'%>
<%= link_to "Create New Menu Category", new_category_path, id: 'new-category-link'%>
