<h1 id="admin-dashboard-title" class='center'>Admin Dashboard</h1>

<h3>Recent Orders</h3>
<h5>Filter by Status:
  <%= link_to_unless(@dashboard.orders_filtered_by == :ordered, 
                     "Ordered", dashboard_path(order_status: :ordered)) %>
  <%= link_to_unless(@dashboard.orders_filtered_by == :paid, 
                     "Paid", dashboard_path(order_status: :paid)) %>
  <%= link_to_unless(@dashboard.orders_filtered_by == :canceled,
                     "Canceled", dashboard_path(order_status: :canceled)) %>
  <%= link_to_unless(@dashboard.orders_filtered_by == :complete, 
                     "Completed", dashboard_path(order_status: :complete)) %>
  <% if @dashboard.has_order_filter? %>
    <%= link_to "Clear filter", dashboard_path, class: "clear-order-filter" %>
  <% end %>
</h5>
<%= render partial: 'orders/search_form', locals: { path: dashboard_path } %>
<div class="dashboard-orders">
  <ul>
    <%= render partial: 'orders/edit_order_link',
      collection: @dashboard.orders, as: :order %>
    <%= will_paginate @dashboard.orders, param_name: :orders_page %>
  </ul>
</div>

<% cache(cache_key_for_categories) do %>
  <div class="categories">
    <h3>Menu Categories</h3>
    <ul>
      <%= render @dashboard.categories %>
    </ul>
  </div>
<% end %>

<% cache(cache_key_for_products) do %>
  <div class="products">
    <h3>Menu Items</h3>

    <ul>
      <%= render partial: 'product_links',
        collection: @dashboard.products, as: :product %>
    </ul>
    <%= link_to "View Retired Items", retired_products_path,
      id: "retired-products-link" %>
  </div>
<% end %>

<%= link_to "Create New Menu Item", new_product_path, id: 'new-product-link'%>
<%= link_to "Create New Menu Category", new_category_path, id: 'new-category-link'%>
