<% products.each do |product| %>
  <div class="product col-6 col-sm-6 col-lg-3" id="<%= product.title.parameterize %>">
    <div class="product-details">
      <span class='product-title'><%= product.title %></span>
      <span class='product-price'><%= product.price %></span>
    </div>
    <div class="product-image">
      <%= image_tag product.small_photo %>
    </div>
    <div class="add-product-to-cart">
      <%= form_for :line_item, url: line_items_path(product_id: product.id) do |f| %>
        <%= f.text_field :quantity, class: "product-quantity-input", value: 1 %>
        <%= f.submit "Add to Cart", class: "add-cart-button" %>
      <% end %>
    </div>
  </div>
<% end %>
