<li class='line-item' id='<%= line_item.product_title.strip.downcase.gsub(" ", "-")  %>'>
  <ul>
    <li class='product'> <%= line_item.product_title %> </li>
    <li class='quantity'> <%= line_item.quantity %> </li>
    <li class='item-price'> <%= number_to_currency(line_item.total_price) %> </li>
    <li>
    <%= button_to "Delete", line_item_path(line_item), method: :delete, 
        class: 'remove-from-cart' %>
    </li>
  </ul>
</li>
